.navbar a{
    font-family: 'Comfortaa', sans-serif, cursive;font-size: 19px;
}
.nav-link span{
    font-family: 'Comfortaa', sans-serif, serif;font-size: 19px;color: black;
}
.nav-link i{
    font-family: 'Comfortaa', sans-serif, serif;font-size: 19px;color: black;
}
.nav-link a{
    font-family: 'Comfortaa', sans-serif, serif;font-size: 19px;color: black;
}
.navbar {
    max-height: 20px;
}
.dropdown-menu a{
    font-family: 'Comfortaa', sans-serif, serif;font-size: 14px;color: black;
}

.navbar-expand{
    min-height: 8px;
    color: #2a2730
}
.navbar-nav a{
    font-size: 16px;
}
.navbar li {
    text-align: center;
}

.navbar-brand {
    padding: 0px;
    height: 10px;
    line-height: 10px;
}

.navbar-toggle {
    /* (80px - button height 34px) / 2 = 23px */
    margin-top: 0px;
    padding: 9px 10px !important;
}


.tab {
    text-indent: 40px;
}
.top-t {
    text-indent: 7px;
    margin-top: 12px;
}
.navbar-expand-md {
    margin-top: 0px;
}
.carousel-caption{
    text-decoration-color: #2a2730;
    max-width: 130px;
}
a. button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color:#000000;
    background-color:#FFFFFF;
}
@media all and (max-width:30em){
    a.button1{
        display:block;
        margin:0.4em auto;
        }
}
a.button2 {
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgb(53, 49, 49);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Comfortaa',sans-serif;
    font-weight:900;
    color: rgb(43, 40, 40);
    text-shadow: 0 0.04em 0.04em rgba(236, 216, 216, 0.35);
    text-align:center;
    transition: all 0.2s;
}
a.button2:hover{
    border-color: rgb(41, 38, 38);
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes bouncy {
    0% {
        top: 0em
    }
    40% {
        top: 0em
    }
    43% {
        top: -0.9em
    }
    46% {
        top: 0em
    }
    48% {
        top: -0.4em
    }
    50% {
        top: 0em
    }
    100% {
        top: 0em;
    }
}
.column {
    width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.circular--landscape {
    display: inline-block;

    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;

}

.circular--landscape img {
    width: auto;
    height: auto;
    margin-top: 600px;
    object-fit: cover;
}

.circular2--landscape {
    display: inline-block;

    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 9%;

}

.circular2--landscape img {
    width: 180px;
    height:180px;
    margin-top: 0px;
    object-fit: cover;
}

.center{
    text-align: center;
}
.container-fluid a{
    text-indent: 20px;
}

body {
    margin-top: 20px;
}

.card {
    border: none;
}

.card-img {
    border-radius: 0;
}

.vgr-cards .card {
    display: -webkit-box;
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    margin-bottom: 40px;
}
.vgr-cards .card:nth-child(even) .card-img-body {
    -webkit-box-ordinal-group: 3;
    order: 2;
}
.vgr-cards .card:nth-child(even) .card-body {
    padding-left: 0;
    padding-right: 1.25rem;
}
@media (max-width: 576px) {
    .vgr-cards .card {
        display: block;
    }
}
.vgr-cards .card-img-body {
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden;
    position: relative;
}
@media (max-width: 576px) {
    .vgr-cards .card-img-body {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
}
.vgr-cards .card-img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
@media (max-width: 1140px) {
    .vgr-cards .card-img {
        margin: 0;
        -webkit-transform: none;
        transform: none;
        width: 100%;
        height: auto;
    }
}
.vgr-cards .card-body {
    -webkit-box-flex: 2;
    flex: 2;
    padding: 0 0 0 1.25rem;
}
@media (max-width: 576px) {
    .vgr-cards .card-body {
        padding: 0;
    }
}
a.button3{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
}
a.button3:hover{
    background-color:#4095c6;
}
@media all and (max-width:30em){
    a.button3{
        display:block;
        margin:0.2em auto;
        }
}